
.card {
    width: 100%;
    text-align: center;
}

.body-color {
    color: black;
}

.me-color {
    color: black;
}

.alter {
    width: 15%;
    margin: 0;
    flex: 1;
    line-height: 1.2;
    display: inline;
}

